
  body{
    height: 100vh;
  } 
  main {
    background-color: #EFFAF9;
    height: auto;
    padding-top: 30px;
    width: 100%;
  }
  
  .secao_corpo_principalConfirmChip{
    height: auto;
    width: 100%;
  }
  #texto-ConfirmChip{
    position: relative;
    width: 70%;
    font-size: 45px;
    color:#F8798A;
    left: 10%;
    margin-top: 10%;
    font-weight: bold;
    line-height: 45px;
    font-family: 'Spartan', sans-serif;
    margin-bottom: 5%;
  }
  .container-principalConfirmChip{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  .corpo__principalConfirmChip{
    border-radius: 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
    font-family:'Spartan', sans-serif;
    font-weight: 800;
    border-radius: 50px;
    background-color:#FFFFFF;
    margin: 0 auto;
  }
  .container_principalConfirmChip{
    width: auto;
    height: auto;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 10px 30px 10px;
  } 
/*CORPO MAIN*/
  .items_labelConfirmChip{
    background-color: #F8798A;
    border-radius: 50px;
    width: 90%  !important;
    height:100%;
    font-size: 20px;
    color:#FFFFFF;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
  }
  #recarga-chipConfirmChip{
    width: 90% !important;
  }
  #recarga-cartaoConfirmChip{
    width: 50% !important;
  }
  #recarga-validConfirmChip{
    width: 30% !important;
  }

  
  #button_final_ConfirmChip{
    width: 90%;
    height: auto;
    justify-self:center;
    background-color: #F8798A;
    color:#FFFFFF;
    padding: 10px;
    font-family:'Spartan', sans-serif;
    font-weight: 1000;
    border-radius: 50px;
    font-size: 25px;
  }

  #button_final_ConfirmChip:hover{
    background-color: #D26A7E;
  }

  picture{
    height: auto;
  }
  #img_corpo__principalConfirmChip{
    width: 80%;
    height: 100%;
    margin-top: 10%;
    
  }

  /*MODAL CONFIRMAÇÃO*/  
  .modal-completo{
    width: 50% !important;
    height: auto;
    text-align: center;
    border-radius: 50px !important;
    font-family: 'Spartan', sans-serif;
    font-weight: bold;
  }
  #imagem-modal{
    width: 75%;
    padding: 10px;
    margin-bottom: 20px;
  }
  #conteudo-modal-first{
    font-size: 30px;
    color: #F8798A;
    padding-bottom: 10px;
  }
  #conteudo-modal-second{
    width: 100%;
    font-size: 25px;
    color:#000000;
    padding: 10px;
    line-height: 30px;
  }
  #conteudo-modal-third{
    line-height: 20px;
  }
  #imagem-topo{
    position: absolute;
    right: 0px;
    margin: 15px 10px;
    padding: 0px 25px;
  } 
/*MODAL LOGIN*/  
  #modal-login{
    width: 50% !important;
    height: 40% !important;
    text-align: center;
    border-radius: 50px;
    font-family: 'Spartan', sans-serif;
    font-weight: bold;
  }
  #modal-picture{
    display:flex; 
    width: 80% ;
    justify-content: space-between;
    margin:auto;
  }
  #imagem-topo-logo-login{
    width: 50%;
    padding: 10px;
  }
  #imagem-topo-login{
    margin: 10px 10px;
    padding: 5px;
    position:absolute;
    right: 10px;
  }
  #container-principal-login{
    height: auto;
    padding: 16px 16px 20px 16px;
  }
  .content-modal-login{
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 20px !important;
    margin-bottom: 10px !important;
  }
  #texto-login{
    font-size: 25px;
    color: #F8798A;
    padding: 10px 15px 10px 15px;
    margin-left: 0%;
  }
  input::placeholder {
    color: #FFFFFF;
    padding: 10px;
  }
  .input-login {
    width: 100%; 
    height: 100%;
    border-radius:50px !important;
    font-family:'Spartan', sans-serif;
    background-color: #F8798A !important;
    color:#FFFFFF !important;
    font-family:'Spartan', sans-serif;
    font-weight: bold;
    padding: 20px;
    text-align: left;
  }
  #button-login{
    background-color: #F8798A !important;
    border-radius:50px;
    border: none;
    font-family:'Spartan', sans-serif;
    color:#FFFFFF;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    width: 50%;
    margin-right: 0%;
  }
  #ancora-login{
    padding-top: 30px;
  }

/*MODAL COMPRA-NEGADA*/
#modal-compraNegada{
  width: 90% !important;
  height: auto !important;
  border-radius: 50px !important;
 /*  background-color: coral !important; */
}
.content-modal-neg {
  text-align: center;
  font-family: 'Spartan', sans-serif;
}
#imagem-modal-neg{
  width: 25% !important;
  height: 25% !important;
  margin-bottom: 20px;
}
#conteudo-modal-first-neg{
  color: #609FA0;;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 20px;
}
#conteudo-modal-second-neg{
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 10px;
  font-weight: normal;
}
  /*FOOTER*/
  #footer-easy{
    height: auto;
    text-align: center;
    padding: 5px 5px 0px 5px;
    bottom: 0px;
  }
