/* HEADER*/

.header-nav{
  position:fixed;
  width: 100%;
  top: 0px;
  z-index: 9;
}


nav{
  background-color:#FFFFFF !important;
}
.container-nav{
  margin-left: 5%;
  margin-right: 5%;
  height: auto;
}

#menu-responsive{
  width: 50%;
  height: 50%;
  position: relative;
  left: 0%;
}

ul li a{
  text-decoration: none;
  font-family: 'Spartan';
  font-size: 20px;
  font-weight: bolder;
  text-transform: uppercase;
  color: #F8798A !important;
}

ul li a:hover{
  color: #D26A7E !important;
}


/* FOOTER */

footer{
  width: 100%;
  bottom: 0;
}

.container-footer{
  background-color: #ffffff !important;
  display: flex;
  justify-content: center;
}

.imgFooter{
  width: 150px;
  margin: 1%;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 767px) {
  body {
    margin-top: 0px;
    width: 100%;
  }
  main {
    background-color: #FFEEF0;
    height: 1000px;
    top: 0px;
  }
  /*HEADER*/
  .header-nav{
    width: 100%;
    top:0px;
  }

  #logo{
    width: 100px;
    margin: 4% auto
  }
  #menu-responsive{
    width: 30px;
    height: 30px;
  }
  .container-nav {
    height: 100%;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items:stretch;
  
  }

  .sidenav{
    width: 50% !important;
  }

  ul li a{
    text-decoration: none;
    font-family: 'Spartan';
    font-size: 10px !important;
    font-weight: bolder;
    text-transform: uppercase;
    color: #F8798A !important;
  }

  footer{
    width: 100%;
    bottom: 0;
  }
  
  .container-footer{
    background-color: #ffffff !important;
    display: flex;
    justify-content: center;
  }
  
  .imgFooter{
    width: 150px;
    margin: 1%;
  }
  
   
  }
  

@media only screen and (min-width: 768px) and (max-width: 1023px) {

.corpo__principal{
  border-radius: 0px;
  text-align: center;
  width: 80%;
  height: 300px;
  font-family:'Spartan', sans-serif;
  font-weight: 800;
  border-radius: 50px;
}
 .container_principal{
  margin-right: 10%;
  width: 70%;
  justify-content: space-around;
} 
#img_corpo__principal {
  position: absolute;
  width: auto;
  height: 40%;
  left:70%;
  top: 10%;
  margin-right: 5%;

}
/*CORPO MAIN*/
.items_label{
  background-color: #609FA0;
  border-radius: 10px;
  width: 40%;
  height: auto;
  font-size: 20px;
  color:#FFFFFF;
  text-align: center;
  margin-bottom: 20px;
}

#button_final_compra{
  width: 90%;
  height: auto;
  justify-self:center;
  margin-bottom: 5px;
  background-color: #609FA0;
  color:#FFFFFF;
  border: none;
  padding: 10px;
  font-family:'Spartan', sans-serif;
  font-weight: 1000;
  border-radius: 10px;
  font-size: 15px;
}

}
