header{
    background: rgba(255, 255, 255, 0.884);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 200px;
    margin-left: 450px;
}

h1{
    color: black;
}


.header{
    font-size: 60px;
    color: rgba(255, 255, 255, 0.8);
    list-style: none;
    background: #F8798A;
    border-radius: 100px;
    cursor: pointer;
    border-style: none;
    margin: 10px;
    transition: all 0.5s;
}

.header:hover{
    font-size: 60px;
    color: rgba(255, 255, 255, 0.8);
    list-style: none;
    background: #D26A7E;
    border-radius: 100px;
    cursor: pointer;
    border-style: none;
    transition: all 0.5s;
}

.imagem{
   padding: 100px;
}