navbar{
    background: rgba(255, 255, 255, 0.884);
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-around;
    padding: 30px;

}


.nav{
    color: rgba(0, 0, 0, 0.8);
    list-style: none;
    border-style: none;
    background-color: #fff;
    transition: all 0.5s;
    cursor: pointer;
}

.nav:hover{
    color: rgba(0, 0, 0, 0.8);
    list-style: none;
    background: #F8798A;
    border-radius: 100px;
    transition: all 0.5s;
    cursor: pointer;

}