.principal{
    background: #EFFAF9;;
    display: flex;
    flex-direction:row;

}

.celular {
    margin-right: 300px;
    margin-left: 300px;
}

h1{
    color: black;
}

.main{
    margin-top: 50px;
    font-size: 60px;
    color: rgba(255, 255, 255, 0.8);
    list-style: none;
    background: #F8798A;
    border-radius: 100px;
    cursor: pointer;
    border-style: none;
    transition: all 0.5s;
}

.main:hover{
    font-size: 60px;
    color: rgba(255, 255, 255, 0.8);
    list-style: none;
    background: #D26A7E;
    border-radius: 100px;
    cursor: pointer;
    border-style: none;
    transition: all 0.5s;
}

.segundo{
    background: white;
    display: flex;
    flex-direction:row;
    margin-top: 100px;
}

h2{
    color: #609FA0;
}

.Texto{
    margin-left: 300px;
    margin-right: 300px;
}