body {
  margin: 0;
  font-family: 'Spartan', sans-serif;
}


.nav{
  weight: 800;
  font-weight: bolder;
  size: 20px;
}

.nav:hover{
  weight: 800;
  font-weight: bolder;
  background-size: 300px;
}